@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Ecommerce.ProductCatalog.ProductViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog

@{
    var product = Model;
    string anonymousUsersLimitations = Pageview.AreaSettings.GetRawValueString("AnonymousUsers", "");
    bool anonymousUser = Pageview.User == null;
    bool hidePrice = anonymousUsersLimitations.Contains("price") && anonymousUser;

    string link = product.GetProductLink(GetPageIdByNavigationTag("Shop"), false);

    string imagePath = product?.DefaultImage?.ToString() ?? string.Empty;
    string getImagePath = $"/Admin/Public/GetImage.ashx?image={imagePath}&width=350&format=webp";
    bool localImagePath = imagePath.StartsWith("/Files/", StringComparison.OrdinalIgnoreCase);
    imagePath = localImagePath ? getImagePath : imagePath;
}

<a href="@link" class="text-decoration-none d-block h-100">
    <div class="h-100 d-flex flex-column justify-content-between">
        <div class="position-relative">
            <img loading="lazy" decoding="async" src="@imagePath" class="img-fluid" alt="@product.Name">
        </div>
        <div class="flex-fill d-flex flex-column justify-content-between">
            <h3 class="h6 opacity-85">@product.Name @product.VariantName</h3>

            @if (!hidePrice && product.Price != null)
            {
                <div>
                    <p class="h6 m-0">
                        @if (product.HasDiscount())
                        {
                            <span class="text-decoration-line-through opacity-75 me-1">
                                @product.PriceBeforeDiscount.Price.Formatted
                            </span>
                        }

                        <span class="text-price fw-bold">@product.Price.Price.Formatted</span>
                    </p>
                    @if (product.Price.TryGetVatLabel(out string vatLabel)) {
                        <small class="opacity-85 fst-normal order-3">@Translate(vatLabel)</small>
                    }
                </div>
            }
        </div>
    </div>
</a>
